<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en" xmlns:th="http://www.thymeleaf.org"
                         xmlns:sec="http://www.thymeleaf.org/extras/spring-security4"> <!--<![endif]-->

<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>学校班级信息</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="/assets/bootstrap/css/bootstrap-fileupload.css" rel="stylesheet" />
    <link href="/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/style_responsive.css" rel="stylesheet" />
    <link href="/css/style_default.css" rel="stylesheet" id="style_color" />
    <link href="/assets/fancybox/source/jquery.fancybox.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/assets/uniform/css/uniform.default.css" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="fixed-top">

<!-- 引入开始顶部导航栏 -->
<div th:replace="commons/bars::topbar"></div>
<!-- END HEADER -->
<!-- BEGIN CONTAINER -->
<div id="container" class="row-fluid">

    <!-- 引入侧边栏 -->
    <div th:replace="commons/bars::#sidebar(activeUri='classList')"></div>

    <!-- 页面开始 -->
    <div id="main-content">
        <!-- 开始页面容器-->
        <div class="container-fluid">
            <!-- 开始页眉-->
            <div class="row-fluid">
                <div class="span12">
                    <!-- 开始主题编辑器-->
                    <div id="theme-change" class="hidden-phone">
                        <i class="icon-cogs"></i>
                        <span class="settings">
                                <span class="text">主题:</span>
                                <span class="colors">
                                    <span class="color-default" data-style="default"></span>
                                    <span class="color-gray" data-style="gray"></span>
                                    <span class="color-purple" data-style="purple"></span>
                                    <span class="color-navy-blue" data-style="navy-blue"></span>
                                </span>
							</span>
                    </div>
                    <!-- END THEME CUSTOMIZER-->
                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                    <h3 class="page-title">
                        主页
                        <small>学校基本概况</small>
                    </h3>
                    <ul class="breadcrumb">
                        <li>
                            <a href="/teacher/homepage"><i class="icon-home"></i></a><span class="divider">&nbsp;</span>
                        </li>
                        <li>
                            <a href="/teacher/classList">学生管理</a> <span class="divider">&nbsp;</span>
                            <a href="/teacher/classList">班级管理</a> <span class="divider-last">&nbsp;</span>
                        </li>
                    </ul>
                    <!-- END PAGE TITLE & BREADCRUMB-->
                </div>
            </div>
            <!-- END PAGE HEADER-->

            <!-- BEGIN ADVANCED TABLE widget-->
            <!--Managed Table-->
            <div class="row-fluid">

                <div class="span12">
                    <!-- BEGIN EXAMPLE TABLE widget-->
                    <div class="widget">
                        <div class="widget-title">
                            <h3><i class="icon-reorder"></i>班级信息列表</h3>
                            <span class="tools">
                                <a href="javascript:;" class="icon-chevron-down"></a>
                                <a href="javascript:;" class="icon-remove"></a>
                            </span>
                        </div>

                        <div class="widget-body">

                            <div class="row-fluid ">
                                <div class="span12">
                                    <a class="icon-btn span1" href="add_student.html" th:href="@{/teacher/addclass}">
                                        <i class="icon-sitemap"></i>
                                        <div>添加班级</div>
                                        <span class="badge badge-important"></span>
                                    </a>
                                    <!-- BEGIN INLINE TABS PORTLET-->
                                    <div class="widget">

                                        <div class="widget-body">
                                            <div class="row-fluid">
                                                <div class="span12">
                                                    <!--BEGIN TABS-->
                                                    <div class="tabbable tabbable-custom">
                                                        <ul class="nav nav-tabs">
                                                            <li><a th:href="@{/teacher/classList}" data-toggle="tab">所有年级</a></li>
                                                            <li><a th:href="@{/teacher/classlist/1}" data-toggle="tab">一年级</a></li>
                                                            <li><a th:href="@{/teacher/classlist/2}" data-toggle="tab">二年级</a></li>
                                                            <li><a th:href="@{/teacher/classlist/3}" data-toggle="tab">三年级</a></li>
                                                            <li><a th:href="@{/teacher/classlist/4}" data-toggle="tab">四年级</a></li>
                                                            <li><a th:href="@{/teacher/classlist/5}" data-toggle="tab">五年级</a></li>
                                                            <li><a th:href="@{/teacher/classlist/6}" data-toggle="tab">六年级</a></li>
                                                            <li><a th:href="@{/teacher/classlist/7}" data-toggle="tab">七年级</a></li>
                                                            <li><a th:href="@{/teacher/classlist/8}" data-toggle="tab">八年级</a></li>
                                                            <li><a th:href="@{/teacher/classlist/9}" data-toggle="tab">九年级</a></li>
                                                        </ul>

                                                        <div class="tab-content">
                                                            <div class="tab-pane active" id="tab_1_1">
                                                                <table class="table table-striped table-bordered" id="sample_1" >
                                                                    <thead>
                                                                    <tr >
                                                                        <th class="hidden-phone">班级名称</th>
                                                                        <th class="hidden-phone">班级人数</th>
                                                                        <th class="hidden-phone">负责老师</th>
                                                                        <th class="hidden-phone">操作</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    <tr th:each="class:${classinfo}" class="odd gradeX">
                                                                        <td th:text="${class.className}"></td>
                                                                        <td th:text="${class.studentsNumber}"></td>
                                                                        <td th:text="${class.tTeacher.teacherName}"></td>
                                                                        <td>
                                                                            <a th:href="@{/teacher/editstudent/}+${class.id}" class="btn mini purple"><i class="icon-edit"></i> 编辑</a>
                                                                            <a th:href="@{/teacher/classinfo/}+${class.id}" class="btn mini purple"><i class="icon-edit"></i> 详情</a>
                                                                            <button th:attr="del_uri=@{/teacher/deleteclass/}+${class.id}"  class="btn mini purple deleteBtn"><i class="icon-trash"></i> 删除</button>
                                                                        </td>
                                                                    </tr>

                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            <form id="deleteForm" method="GET">
                                                                <input type="hidden" name="_method" value="delete"/>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <!--END TABS-->
                                                </div>
                                                <div class="space10 visible-phone"></div>

                                            </div>
                                        </div>
                                    </div>
                                    <!-- END INLINE TABS PORTLET-->
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE widget-->
                </div>
            </div>
            <!-- END ADVANCED TABLE widget-->
            <!-- END PAGE CONTENT-->
        </div>
        <!-- END PAGE CONTAINER-->
    </div>
    <!-- END PAGE -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<!-- 引入页面底部 -->
<div th:replace="commons/bars::#footer"></div>
<!-- END FOOTER -->
<!-- BEGIN JAVASCRIPTS -->
<!-- Load javascripts at bottom, this will reduce page load time -->
<script src="/js/jquery-1.8.3.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/jquery.blockui.js"></script>
<!-- ie8 fixes -->
<!--[if lt IE 9]>
<script src="/js/excanvas.js"></script>
<script src="/js/respond.js"></script>
<![endif]-->
<script type="text/javascript" src="/assets/uniform/jquery.uniform.min.js"></script>
<script type="text/javascript" src="/assets/data-tables/jquery.dataTables.js"></script>
<script type="text/javascript" src="/assets/data-tables/DT_bootstrap.js"></script>
<script src="/js/scripts.js"></script>

<script type="text/javascript" src="/layui/layui.js"></script>

<script type="text/javascript">

    //删除
    $(".deleteBtn").click(function () {
        var id=$("#deleteclass").val();
        if (confirm("是否确认删除？")){
            $("#deleteForm").attr("action",$(this).attr("del_uri")).submit();
            return false;

        }
    });

    function deleteClass(id) {
        $.ajax({
            url: "/teacher/deleteclass/"+id,
            type: "GET",
            dataType: "json",
            success: function (data) {
                if(data===1)
                    alert("该班级下还有学生，删除失败！")
                else {
                }
            }
        })
    }

</script>
<script>
    jQuery(document).ready(function() {
        // initiate layout and plugins
        App.init();
    });
</script>
</body>
<!-- END BODY -->
</html>
