<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="springboot.mybatis.mapper.EFwcMapper">
  <resultMap id="BaseResultMap" type="springboot.mybatis.po.EFwc">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="fwc_min" jdbcType="DOUBLE" property="fwcMin" />
    <result column="fwc_max" jdbcType="DOUBLE" property="fwcMax" />
    <result column="fwc_score" jdbcType="INTEGER" property="fwcScore" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, fwc_min, fwc_max, fwc_score, create_time
  </sql>
  <select id="selectByExample" parameterType="springboot.mybatis.po.EFwcExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from e_fwc
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from e_fwc
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from e_fwc
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="springboot.mybatis.po.EFwcExample">
    delete from e_fwc
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="springboot.mybatis.po.EFwc">
    insert into e_fwc (id, fwc_min, fwc_max, 
      fwc_score, create_time)
    values (#{id,jdbcType=INTEGER}, #{fwcMin,jdbcType=DOUBLE}, #{fwcMax,jdbcType=DOUBLE}, 
      #{fwcScore,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="springboot.mybatis.po.EFwc">
    insert into e_fwc
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="fwcMin != null">
        fwc_min,
      </if>
      <if test="fwcMax != null">
        fwc_max,
      </if>
      <if test="fwcScore != null">
        fwc_score,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fwcMin != null">
        #{fwcMin,jdbcType=DOUBLE},
      </if>
      <if test="fwcMax != null">
        #{fwcMax,jdbcType=DOUBLE},
      </if>
      <if test="fwcScore != null">
        #{fwcScore,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="springboot.mybatis.po.EFwcExample" resultType="java.lang.Long">
    select count(*) from e_fwc
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update e_fwc
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.fwcMin != null">
        fwc_min = #{record.fwcMin,jdbcType=DOUBLE},
      </if>
      <if test="record.fwcMax != null">
        fwc_max = #{record.fwcMax,jdbcType=DOUBLE},
      </if>
      <if test="record.fwcScore != null">
        fwc_score = #{record.fwcScore,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update e_fwc
    set id = #{record.id,jdbcType=INTEGER},
      fwc_min = #{record.fwcMin,jdbcType=DOUBLE},
      fwc_max = #{record.fwcMax,jdbcType=DOUBLE},
      fwc_score = #{record.fwcScore,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="springboot.mybatis.po.EFwc">
    update e_fwc
    <set>
      <if test="fwcMin != null">
        fwc_min = #{fwcMin,jdbcType=DOUBLE},
      </if>
      <if test="fwcMax != null">
        fwc_max = #{fwcMax,jdbcType=DOUBLE},
      </if>
      <if test="fwcScore != null">
        fwc_score = #{fwcScore,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="springboot.mybatis.po.EFwc">
    update e_fwc
    set fwc_min = #{fwcMin,jdbcType=DOUBLE},
      fwc_max = #{fwcMax,jdbcType=DOUBLE},
      fwc_score = #{fwcScore,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>