<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="springboot.mybatis.mapper.TCardiopulPlanMapper">
  <resultMap id="BaseResultMap" type="springboot.mybatis.po.TCardiopulPlan">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="student_id" jdbcType="VARCHAR" property="studentId" />
    <result column="exemode" jdbcType="INTEGER" property="exemode" />
    <result column="exeunit" jdbcType="INTEGER" property="exeunit" />
    <result column="exelength" jdbcType="INTEGER" property="exelength" />
    <result column="exefreq" jdbcType="INTEGER" property="exefreq" />
    <result column="execycle" jdbcType="INTEGER" property="execycle" />
    <result column="max_hr" jdbcType="INTEGER" property="maxHr" />
    <result column="max_powe" jdbcType="INTEGER" property="maxPowe" />
    <result column="int_hr_k" jdbcType="DOUBLE" property="intHrK" />
    <result column="int_hr_b" jdbcType="DOUBLE" property="intHrB" />
    <result column="user_hr" jdbcType="INTEGER" property="userHr" />
    <result column="is_enable" jdbcType="INTEGER" property="isEnable" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

  <resultMap id="CardiopulPlanStudentResultMap" type="springboot.mybatis.po.TCardiopulPlanCustom">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="student_id" jdbcType="VARCHAR" property="studentId" />
    <result column="exemode" jdbcType="INTEGER" property="exemode" />
    <result column="exeunit" jdbcType="INTEGER" property="exeunit" />
    <result column="exelength" jdbcType="INTEGER" property="exelength" />
    <result column="exefreq" jdbcType="INTEGER" property="exefreq" />
    <result column="execycle" jdbcType="INTEGER" property="execycle" />
    <result column="max_hr" jdbcType="INTEGER" property="maxHr" />
    <result column="max_powe" jdbcType="INTEGER" property="maxPowe" />
    <result column="int_hr_k" jdbcType="DOUBLE" property="intHrK" />
    <result column="int_hr_b" jdbcType="DOUBLE" property="intHrB" />
    <result column="user_hr" jdbcType="INTEGER" property="userHr" />
    <result column="is_enable" jdbcType="INTEGER" property="isEnable" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />

      <association property="tStudent" javaType="springboot.mybatis.po.TStudent">
          <id column="id" jdbcType="VARCHAR" property="id" />
          <result column="student_no" jdbcType="VARCHAR" property="studentNo" />
          <result column="student_name" jdbcType="VARCHAR" property="studentName" />
          <result column="class_id" jdbcType="VARCHAR" property="classId" />
          <result column="school_id" jdbcType="VARCHAR" property="schoolId" />
          <result column="age" jdbcType="INTEGER" property="age" />
          <result column="sex" jdbcType="INTEGER" property="sex" />
          <result column="stature" jdbcType="DOUBLE" property="stature" />
          <result column="weight" jdbcType="DOUBLE" property="weight" />
      </association>
  </resultMap>

  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sat Mar 07 21:35:32 CST 2020.
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">

    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

  <sql id="Base_Column_List">
    id, student_id, exemode, exeunit, exelength, exefreq, execycle, max_hr, max_powe, int_hr_k,
    int_hr_b, user_hr, is_enable, create_time
  </sql>

    <sql id="StudentPlan_List">
    c.id, c.student_id, c.exemode, c.exeunit, c.exelength, c.exefreq, c.execycle, c.max_hr, c.max_powe, c.int_hr_k,
    c.int_hr_b, c.user_hr, c.is_enable, c.create_time,
    s.student_no, s.student_name, s.class_id, s.school_id, s.age, s.sex, s.stature, s.weight, s.create_time
  </sql>

  <select id="selectByExample" parameterType="springboot.mybatis.po.TCardiopulPlanExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_cardiopul_plan
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_cardiopul_plan
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <!--查找最新心肺耐力训练处方-->
  <select id="selectLastedTCardiopulPlan" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_cardiopul_plan
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <!--查询所有学生心肺耐力处方-->
  <select id="listCardiopulmonaryPlan" parameterType="java.lang.String" resultMap="CardiopulPlanStudentResultMap">
    SELECT
      <include refid="StudentPlan_List" /> FROM t_cardiopul_plan c, t_student s ,
	(
		SELECT
			student_id AS studentid,
			MAX(create_time) AS maxdate
		FROM
			t_cardiopul_plan
		GROUP BY
			student_id
	) x
    WHERE
	x.studentid = c.student_id AND x.maxdate = c.create_time
      AND c.student_id=s.id
  </select>

  <!--查询学生所有处方-->
  <select id="ListStudentPlan" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_cardiopul_plan
    where is_enable=1
  </select>

    <!--根据studenid查询学生所有处方-->
    <select id="selectPlanHistory" parameterType="java.lang.String" resultMap="CardiopulPlanStudentResultMap">
        select
        <include refid="StudentPlan_List" />
        from t_cardiopul_plan c, t_student s
        where c.student_id=s.id and c.student_id=#{studentid,jdbcType=VARCHAR} ORDER BY c.create_time DESC
    </select>

  <!--查询xxx学生最新心肺耐力处方-->
  <select id="StudentNewCardioPlan" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_cardiopul_plan c
    where c.student_id=#{studentid,jdbcType=VARCHAR} and is_enable=1 ORDER BY c.create_time DESC
  </select>

  <!--根据studenid查询学生当前处方-->
  <select id="StudentCardiopulmonaryPlan" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_cardiopul_plan c, t_student s
    where c.student_id=s.id and c.student_id=#{studentid,jdbcType=VARCHAR} and c.is_enable="1"
  </select>

    <!--查询xx学生当前处方开始时间距离今天周数-->
    <select id="PlanDays" parameterType="java.lang.String" resultType="java.lang.Integer">
       select
       TIMESTAMPDIFF (WEEK,(SELECT create_time FROM t_cardiopul_plan WHERE is_enable="1" and student_id=#{studentid,jdbcType=VARCHAR}),NOW())
    </select>

    <!--根据studentid更新训练处方-->
    <update id="updateByStudentIdSelective" parameterType="springboot.mybatis.po.TCardiopulPlan">
        update t_cardiopul_plan
        <set>
            <if test="exemode != null">
                exemode = #{exemode,jdbcType=INTEGER},
            </if>
            <if test="exeunit != null">
                exeunit = #{exeunit,jdbcType=INTEGER},
            </if>
            <if test="exelength != null">
                exelength = #{exelength,jdbcType=INTEGER},
            </if>
            <if test="exefreq != null">
                exefreq = #{exefreq,jdbcType=INTEGER},
            </if>
            <if test="execycle != null">
                execycle = #{execycle,jdbcType=INTEGER},
            </if>
            <if test="maxHr != null">
                max_hr = #{maxHr,jdbcType=INTEGER},
            </if>
            <if test="maxPowe != null">
                max_powe = #{maxPowe,jdbcType=INTEGER},
            </if>
            <if test="intHrK != null">
                int_hr_k = #{intHrK,jdbcType=DOUBLE},
            </if>
            <if test="intHrB != null">
                int_hr_b = #{intHrB,jdbcType=DOUBLE},
            </if>
            <if test="userHr != null">
                user_hr = #{userHr,jdbcType=INTEGER},
            </if>
            <if test="isEnable != null">
                is_enable = #{isEnable,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where student_id = #{studentId,jdbcType=VARCHAR}
    </update>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_cardiopul_plan
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <delete id="deleteByExample" parameterType="springboot.mybatis.po.TCardiopulPlanExample">
    delete from t_cardiopul_plan
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>

  <insert id="insert" parameterType="springboot.mybatis.po.TCardiopulPlan">

    insert into t_cardiopul_plan (id, student_id, exemode, 
      exeunit, exelength, exefreq, 
      execycle, max_hr, max_powe, 
      int_hr_k, int_hr_b, user_hr, 
      is_enable, create_time)
    values (#{id,jdbcType=VARCHAR}, #{studentId,jdbcType=VARCHAR}, #{exemode,jdbcType=INTEGER}, 
      #{exeunit,jdbcType=INTEGER}, #{exelength,jdbcType=INTEGER}, #{exefreq,jdbcType=INTEGER}, 
      #{execycle,jdbcType=INTEGER}, #{maxHr,jdbcType=INTEGER}, #{maxPowe,jdbcType=INTEGER}, 
      #{intHrK,jdbcType=DOUBLE}, #{intHrB,jdbcType=DOUBLE}, #{userHr,jdbcType=INTEGER}, 
      #{isEnable,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <!--插入最新心肺耐力训练处方-->
  <insert id="insertSelective" parameterType="springboot.mybatis.po.TCardiopulPlan">
    <!--自动生成uuid-->
    <selectKey keyProperty="id" resultType="String" order="BEFORE">
    select  replace(uuid(),'-','')   from dual
    </selectKey>
    insert into t_cardiopul_plan
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="studentId != null">
        student_id,
      </if>
      <if test="exemode != null">
        exemode,
      </if>
      <if test="exeunit != null">
        exeunit,
      </if>
      <if test="exelength != null">
        exelength,
      </if>
      <if test="exefreq != null">
        exefreq,
      </if>
      <if test="execycle != null">
        execycle,
      </if>
      <if test="maxHr != null">
        max_hr,
      </if>
      <if test="maxPowe != null">
        max_powe,
      </if>
      <if test="intHrK != null">
        int_hr_k,
      </if>
      <if test="intHrB != null">
        int_hr_b,
      </if>
      <if test="userHr != null">
        user_hr,
      </if>
      <if test="isEnable != null">
        is_enable,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null">
        #{studentId,jdbcType=VARCHAR},
      </if>
      <if test="exemode != null">
        #{exemode,jdbcType=INTEGER},
      </if>
      <if test="exeunit != null">
        #{exeunit,jdbcType=INTEGER},
      </if>
      <if test="exelength != null">
        #{exelength,jdbcType=INTEGER},
      </if>
      <if test="exefreq != null">
        #{exefreq,jdbcType=INTEGER},
      </if>
      <if test="execycle != null">
        #{execycle,jdbcType=INTEGER},
      </if>
      <if test="maxHr != null">
        #{maxHr,jdbcType=INTEGER},
      </if>
      <if test="maxPowe != null">
        #{maxPowe,jdbcType=INTEGER},
      </if>
      <if test="intHrK != null">
        #{intHrK,jdbcType=DOUBLE},
      </if>
      <if test="intHrB != null">
        #{intHrB,jdbcType=DOUBLE},
      </if>
      <if test="userHr != null">
        #{userHr,jdbcType=INTEGER},
      </if>
      <if test="isEnable != null">
        #{isEnable,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="springboot.mybatis.po.TCardiopulPlanExample" resultType="java.lang.Integer">

    select count(*) from t_cardiopul_plan
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">

    update t_cardiopul_plan
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.studentId != null">
        student_id = #{record.studentId,jdbcType=VARCHAR},
      </if>
      <if test="record.exemode != null">
        exemode = #{record.exemode,jdbcType=INTEGER},
      </if>
      <if test="record.exeunit != null">
        exeunit = #{record.exeunit,jdbcType=INTEGER},
      </if>
      <if test="record.exelength != null">
        exelength = #{record.exelength,jdbcType=INTEGER},
      </if>
      <if test="record.exefreq != null">
        exefreq = #{record.exefreq,jdbcType=INTEGER},
      </if>
      <if test="record.execycle != null">
        execycle = #{record.execycle,jdbcType=INTEGER},
      </if>
      <if test="record.maxHr != null">
        max_hr = #{record.maxHr,jdbcType=INTEGER},
      </if>
      <if test="record.maxPowe != null">
        max_powe = #{record.maxPowe,jdbcType=INTEGER},
      </if>
      <if test="record.intHrK != null">
        int_hr_k = #{record.intHrK,jdbcType=DOUBLE},
      </if>
      <if test="record.intHrB != null">
        int_hr_b = #{record.intHrB,jdbcType=DOUBLE},
      </if>
      <if test="record.userHr != null">
        user_hr = #{record.userHr,jdbcType=INTEGER},
      </if>
      <if test="record.isEnable != null">
        is_enable = #{record.isEnable,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sat Mar 07 21:35:32 CST 2020.
    -->
    update t_cardiopul_plan
    set id = #{record.id,jdbcType=VARCHAR},
      student_id = #{record.studentId,jdbcType=VARCHAR},
      exemode = #{record.exemode,jdbcType=INTEGER},
      exeunit = #{record.exeunit,jdbcType=INTEGER},
      exelength = #{record.exelength,jdbcType=INTEGER},
      exefreq = #{record.exefreq,jdbcType=INTEGER},
      execycle = #{record.execycle,jdbcType=INTEGER},
      max_hr = #{record.maxHr,jdbcType=INTEGER},
      max_powe = #{record.maxPowe,jdbcType=INTEGER},
      int_hr_k = #{record.intHrK,jdbcType=DOUBLE},
      int_hr_b = #{record.intHrB,jdbcType=DOUBLE},
      user_hr = #{record.userHr,jdbcType=INTEGER},
      is_enable = #{record.isEnable,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="springboot.mybatis.po.TCardiopulPlan">
    update t_cardiopul_plan
    <set>
      <if test="studentId != null">
        student_id = #{studentId,jdbcType=VARCHAR},
      </if>
      <if test="exemode != null">
        exemode = #{exemode,jdbcType=INTEGER},
      </if>
      <if test="exeunit != null">
        exeunit = #{exeunit,jdbcType=INTEGER},
      </if>
      <if test="exelength != null">
        exelength = #{exelength,jdbcType=INTEGER},
      </if>
      <if test="exefreq != null">
        exefreq = #{exefreq,jdbcType=INTEGER},
      </if>
      <if test="execycle != null">
        execycle = #{execycle,jdbcType=INTEGER},
      </if>
      <if test="maxHr != null">
        max_hr = #{maxHr,jdbcType=INTEGER},
      </if>
      <if test="maxPowe != null">
        max_powe = #{maxPowe,jdbcType=INTEGER},
      </if>
      <if test="intHrK != null">
        int_hr_k = #{intHrK,jdbcType=DOUBLE},
      </if>
      <if test="intHrB != null">
        int_hr_b = #{intHrB,jdbcType=DOUBLE},
      </if>
      <if test="userHr != null">
        user_hr = #{userHr,jdbcType=INTEGER},
      </if>
      <if test="isEnable != null">
        is_enable = #{isEnable,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="springboot.mybatis.po.TCardiopulPlan">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sat Mar 07 21:35:32 CST 2020.
    -->
    update t_cardiopul_plan
    set student_id = #{studentId,jdbcType=VARCHAR},
      exemode = #{exemode,jdbcType=INTEGER},
      exeunit = #{exeunit,jdbcType=INTEGER},
      exelength = #{exelength,jdbcType=INTEGER},
      exefreq = #{exefreq,jdbcType=INTEGER},
      execycle = #{execycle,jdbcType=INTEGER},
      max_hr = #{maxHr,jdbcType=INTEGER},
      max_powe = #{maxPowe,jdbcType=INTEGER},
      int_hr_k = #{intHrK,jdbcType=DOUBLE},
      int_hr_b = #{intHrB,jdbcType=DOUBLE},
      user_hr = #{userHr,jdbcType=INTEGER},
      is_enable = #{isEnable,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>