<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="springboot.mybatis.mapper.TCardiopulRecordMapper">
  <resultMap id="BaseResultMap" type="springboot.mybatis.po.TCardiopulRecord">

    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="plan_id" jdbcType="VARCHAR" property="planId" />
    <result column="student_id" jdbcType="VARCHAR" property="studentId" />
    <result column="train_time" jdbcType="INTEGER" property="trainTime" />
    <result column="test_score" jdbcType="INTEGER" property="testScore" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="upload_time" jdbcType="TIMESTAMP" property="uploadTime" />
    <result column="average_speed" jdbcType="DOUBLE" property="averageSpeed" />
    <result column="is_enables" jdbcType="INTEGER" property="isEnables" />
  </resultMap>
  <sql id="Example_Where_Clause">

    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">

    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, plan_id, student_id, train_time, test_score, create_time, upload_time, average_speed, 
    is_enables
  </sql>
  <select id="selectByExample" parameterType="springboot.mybatis.po.TCardiopulRecordExample" resultMap="BaseResultMap">

    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_cardiopul_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_cardiopul_record
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <!--根据处方id查询xx学生xx处方执行记录-->
  <select id="selectByPlanId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_cardiopul_record
    where plan_id = #{planId,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sat Mar 07 21:35:32 CST 2020.
    -->
    delete from t_cardiopul_record
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="springboot.mybatis.po.TCardiopulRecordExample">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sat Mar 07 21:35:32 CST 2020.
    -->
    delete from t_cardiopul_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="springboot.mybatis.po.TCardiopulRecord">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sat Mar 07 21:35:32 CST 2020.
    -->
    insert into t_cardiopul_record (id, plan_id, student_id, 
      train_time, test_score, create_time, 
      upload_time, average_speed, is_enables
      )
    values (#{id,jdbcType=VARCHAR}, #{planId,jdbcType=VARCHAR}, #{studentId,jdbcType=VARCHAR}, 
      #{trainTime,jdbcType=INTEGER}, #{testScore,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{uploadTime,jdbcType=TIMESTAMP}, #{averageSpeed,jdbcType=DOUBLE}, #{isEnables,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="springboot.mybatis.po.TCardiopulRecord">
    <!--自动生成uuid-->
    <selectKey keyProperty="id" resultType="String" order="BEFORE">
      select  replace(uuid(),'-','')   from dual
    </selectKey>
    insert into t_cardiopul_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="planId != null">
        plan_id,
      </if>
      <if test="studentId != null">
        student_id,
      </if>
      <if test="trainTime != null">
        train_time,
      </if>
      <if test="testScore != null">
        test_score,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="uploadTime != null">
        upload_time,
      </if>
      <if test="averageSpeed != null">
        average_speed,
      </if>
      <if test="isEnables != null">
        is_enables,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="planId != null">
        #{planId,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null">
        #{studentId,jdbcType=VARCHAR},
      </if>
      <if test="trainTime != null">
        #{trainTime,jdbcType=INTEGER},
      </if>
      <if test="testScore != null">
        #{testScore,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uploadTime != null">
        #{uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="averageSpeed != null">
        #{averageSpeed,jdbcType=DOUBLE},
      </if>
      <if test="isEnables != null">
        #{isEnables,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="springboot.mybatis.po.TCardiopulRecordExample" resultType="java.lang.Integer">
    select count(*) from t_cardiopul_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_cardiopul_record
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.planId != null">
        plan_id = #{record.planId,jdbcType=VARCHAR},
      </if>
      <if test="record.studentId != null">
        student_id = #{record.studentId,jdbcType=VARCHAR},
      </if>
      <if test="record.trainTime != null">
        train_time = #{record.trainTime,jdbcType=INTEGER},
      </if>
      <if test="record.testScore != null">
        test_score = #{record.testScore,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.uploadTime != null">
        upload_time = #{record.uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.averageSpeed != null">
        average_speed = #{record.averageSpeed,jdbcType=DOUBLE},
      </if>
      <if test="record.isEnables != null">
        is_enables = #{record.isEnables,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_cardiopul_record
    set id = #{record.id,jdbcType=VARCHAR},
      plan_id = #{record.planId,jdbcType=VARCHAR},
      student_id = #{record.studentId,jdbcType=VARCHAR},
      train_time = #{record.trainTime,jdbcType=INTEGER},
      test_score = #{record.testScore,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      upload_time = #{record.uploadTime,jdbcType=TIMESTAMP},
      average_speed = #{record.averageSpeed,jdbcType=DOUBLE},
      is_enables = #{record.isEnables,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="springboot.mybatis.po.TCardiopulRecord">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sat Mar 07 21:35:32 CST 2020.
    -->
    update t_cardiopul_record
    <set>
      <if test="planId != null">
        plan_id = #{planId,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null">
        student_id = #{studentId,jdbcType=VARCHAR},
      </if>
      <if test="trainTime != null">
        train_time = #{trainTime,jdbcType=INTEGER},
      </if>
      <if test="testScore != null">
        test_score = #{testScore,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uploadTime != null">
        upload_time = #{uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="averageSpeed != null">
        average_speed = #{averageSpeed,jdbcType=DOUBLE},
      </if>
      <if test="isEnables != null">
        is_enables = #{isEnables,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="springboot.mybatis.po.TCardiopulRecord">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sat Mar 07 21:35:32 CST 2020.
    -->
    update t_cardiopul_record
    set plan_id = #{planId,jdbcType=VARCHAR},
      student_id = #{studentId,jdbcType=VARCHAR},
      train_time = #{trainTime,jdbcType=INTEGER},
      test_score = #{testScore,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      upload_time = #{uploadTime,jdbcType=TIMESTAMP},
      average_speed = #{averageSpeed,jdbcType=DOUBLE},
      is_enables = #{isEnables,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>