<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="springboot.mybatis.mapper.TEyesightMapper">
  <resultMap id="BaseResultMap" type="springboot.mybatis.po.TEyesight">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="student_id" jdbcType="VARCHAR" property="studentId" />
    <result column="left_nwz" jdbcType="VARCHAR" property="leftNwz" />
    <result column="right_nwz" jdbcType="VARCHAR" property="rightNwz" />
    <result column="left_sxz" jdbcType="VARCHAR" property="leftSxz" />
    <result column="right_sxz" jdbcType="VARCHAR" property="rightSxz" />
    <result column="left_sxx" jdbcType="VARCHAR" property="leftSxx" />
    <result column="right_sxx" jdbcType="VARCHAR" property="rightSxx" />
    <result column="test_advice" jdbcType="VARCHAR" property="testadvice" />
    <result column="train_plan" jdbcType="VARCHAR" property="trainplan" />
    <result column="eating_advice" jdbcType="VARCHAR" property="eatingadvice" />
    <result column="execising_advice" jdbcType="VARCHAR" property="execisingadvice" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="upload_time" jdbcType="TIMESTAMP" property="uploadtime" />
  </resultMap>

  <resultMap id="StudentResultMap" type="springboot.mybatis.po.TEyesightCustom">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="student_id" jdbcType="VARCHAR" property="studentId" />
    <result column="left_nwz" jdbcType="VARCHAR" property="leftNwz" />
    <result column="right_nwz" jdbcType="VARCHAR" property="rightNwz" />
    <result column="left_sxz" jdbcType="VARCHAR" property="leftSxz" />
    <result column="right_sxz" jdbcType="VARCHAR" property="rightSxz" />
    <result column="left_sxx" jdbcType="VARCHAR" property="leftSxx" />
    <result column="right_sxx" jdbcType="VARCHAR" property="rightSxx" />
    <result column="test_advice" jdbcType="VARCHAR" property="testadvice" />
    <result column="train_plan" jdbcType="VARCHAR" property="trainplan" />
    <result column="eating_advice" jdbcType="VARCHAR" property="eatingadvice" />
    <result column="execising_advice" jdbcType="VARCHAR" property="execisingadvice" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="upload_time" jdbcType="TIMESTAMP" property="uploadtime" />

    <association property="tStudent" javaType="springboot.mybatis.po.TStudent">
      <result column="student_no" jdbcType="VARCHAR" property="studentNo" />
      <result column="student_name" jdbcType="VARCHAR" property="studentName" />
      <result column="class_id" jdbcType="VARCHAR" property="classId" />
      <result column="school_id" jdbcType="VARCHAR" property="schoolId" />
      <result column="age" jdbcType="INTEGER" property="age" />
      <result column="sex" jdbcType="INTEGER" property="sex" />
      <result column="left_sight" jdbcType="DOUBLE" property="leftSight" />
      <result column="right_sight" jdbcType="DOUBLE" property="rightSight" />
    </association>
  </resultMap>

  <sql id="Example_Where_Clause">

    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, student_id, left_nwz, right_nwz, left_sxz, right_sxz, left_sxx, right_sxx, test_advice,
    train_plan, eating_advice, execising_advice, create_time, upload_time
  </sql>

  <sql id="Student_Column_List">
    e.id, e.student_id, e.left_nwz, e.right_nwz, e.left_sxz, e.right_sxz, e.left_sxx, e.right_sxx, e.test_advice,
    e.train_plan, e.eating_advice, e.execising_advice, e.create_time, e.upload_time,
    s.student_no,s.student_name,s.class_id,s.school_id,s.age,s.sex,s.left_sight,s.right_sight
  </sql>

  <select id="selectByExample" parameterType="springboot.mybatis.po.TEyesightExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_eyesight
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_eyesight
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <!--查询每个学生最新的视力测试数据-->
  <select id="ListEyesight" parameterType="java.lang.String" resultMap="StudentResultMap">
    SELECT
    <include refid="Student_Column_List" />
    FROM
    t_eyesight e,t_student s,
    (SELECT    *
    FROM    t_eyesight,
    (SELECT
    id AS idd, student_id AS studentid, MAX(create_time) AS maxdate
    FROM    t_eyesight
    GROUP BY    student_id
    ) x
    WHERE x.idd = t_eyesight.id ) y
    WHERE    y.id = e.id   AND e.student_id = s.id
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_eyesight
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <delete id="deleteByExample" parameterType="springboot.mybatis.po.TEyesightExample">
    delete from t_eyesight
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="springboot.mybatis.po.TEyesight">
    insert into t_eyesight (id, student_id, left_nwz, 
      right_nwz, left_sxz, right_sxz, 
      left_sxx, right_sxx, test_advice,
      train_plan, eating_advice, execising_advice,
      create_time, upload_time)
    values (#{id,jdbcType=VARCHAR}, #{studentId,jdbcType=VARCHAR}, #{leftNwz,jdbcType=VARCHAR}, 
      #{rightNwz,jdbcType=VARCHAR}, #{leftSxz,jdbcType=VARCHAR}, #{rightSxz,jdbcType=VARCHAR}, 
      #{leftSxx,jdbcType=VARCHAR}, #{rightSxx,jdbcType=VARCHAR}, #{testadvice,jdbcType=VARCHAR}, 
      #{trainplan,jdbcType=VARCHAR}, #{eatingadvice,jdbcType=VARCHAR}, #{execisingadvice,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{uploadtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="springboot.mybatis.po.TEyesight">
    <!--自动生成32位UUID主键-->
    <selectKey keyProperty="id" resultType="String" order="BEFORE">
      select  replace(uuid(),'-','')   from dual
    </selectKey>
    insert into t_eyesight
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="studentId != null">
        student_id,
      </if>
      <if test="leftNwz != null">
        left_nwz,
      </if>
      <if test="rightNwz != null">
        right_nwz,
      </if>
      <if test="leftSxz != null">
        left_sxz,
      </if>
      <if test="rightSxz != null">
        right_sxz,
      </if>
      <if test="leftSxx != null">
        left_sxx,
      </if>
      <if test="rightSxx != null">
        right_sxx,
      </if>
      <if test="testadvice != null">
        test_advice,
      </if>
      <if test="trainplan != null">
        train_plan,
      </if>
      <if test="eatingadvice != null">
        eating_advice,
      </if>
      <if test="execisingadvice != null">
        execising_advice,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="uploadtime != null">
        upload_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null">
        #{studentId,jdbcType=VARCHAR},
      </if>
      <if test="leftNwz != null">
        #{leftNwz,jdbcType=VARCHAR},
      </if>
      <if test="rightNwz != null">
        #{rightNwz,jdbcType=VARCHAR},
      </if>
      <if test="leftSxz != null">
        #{leftSxz,jdbcType=VARCHAR},
      </if>
      <if test="rightSxz != null">
        #{rightSxz,jdbcType=VARCHAR},
      </if>
      <if test="leftSxx != null">
        #{leftSxx,jdbcType=VARCHAR},
      </if>
      <if test="rightSxx != null">
        #{rightSxx,jdbcType=VARCHAR},
      </if>
      <if test="testadvice != null">
        #{testadvice,jdbcType=VARCHAR},
      </if>
      <if test="trainplan != null">
        #{trainplan,jdbcType=VARCHAR},
      </if>
      <if test="eatingadvice != null">
        #{eatingadvice,jdbcType=VARCHAR},
      </if>
      <if test="execisingadvice != null">
        #{execisingadvice,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uploadtime != null">
        #{uploadtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="springboot.mybatis.po.TEyesightExample" resultType="java.lang.Integer">
    select count(*) from t_eyesight
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">

    update t_eyesight
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.studentId != null">
        student_id = #{record.studentId,jdbcType=VARCHAR},
      </if>
      <if test="record.leftNwz != null">
        left_nwz = #{record.leftNwz,jdbcType=VARCHAR},
      </if>
      <if test="record.rightNwz != null">
        right_nwz = #{record.rightNwz,jdbcType=VARCHAR},
      </if>
      <if test="record.leftSxz != null">
        left_sxz = #{record.leftSxz,jdbcType=VARCHAR},
      </if>
      <if test="record.rightSxz != null">
        right_sxz = #{record.rightSxz,jdbcType=VARCHAR},
      </if>
      <if test="record.leftSxx != null">
        left_sxx = #{record.leftSxx,jdbcType=VARCHAR},
      </if>
      <if test="record.rightSxx != null">
        right_sxx = #{record.rightSxx,jdbcType=VARCHAR},
      </if>
      <if test="record.testadvice != null">
        test_advice = #{record.testadvice,jdbcType=VARCHAR},
      </if>
      <if test="record.trainplan != null">
        train_plan = #{record.trainplan,jdbcType=VARCHAR},
      </if>
      <if test="record.eatingadvice != null">
        eating_advice = #{record.eatingadvice,jdbcType=VARCHAR},
      </if>
      <if test="record.execisingadvice != null">
        execising_advice = #{record.execisingadvice,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.uploadtime != null">
        upload_time = #{record.uploadtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_eyesight
    set id = #{record.id,jdbcType=VARCHAR},
      student_id = #{record.studentId,jdbcType=VARCHAR},
      left_nwz = #{record.leftNwz,jdbcType=VARCHAR},
      right_nwz = #{record.rightNwz,jdbcType=VARCHAR},
      left_sxz = #{record.leftSxz,jdbcType=VARCHAR},
      right_sxz = #{record.rightSxz,jdbcType=VARCHAR},
      left_sxx = #{record.leftSxx,jdbcType=VARCHAR},
      right_sxx = #{record.rightSxx,jdbcType=VARCHAR},
      test_advice = #{record.testadvice,jdbcType=VARCHAR},
      train_plan = #{record.trainplan,jdbcType=VARCHAR},
      eating_advice = #{record.eatingadvice,jdbcType=VARCHAR},
      execising_advice = #{record.execisingadvice,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      upload_time = #{record.uploadtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="springboot.mybatis.po.TEyesight">
    update t_eyesight
    <set>
      <if test="studentId != null">
        student_id = #{studentId,jdbcType=VARCHAR},
      </if>
      <if test="leftNwz != null">
        left_nwz = #{leftNwz,jdbcType=VARCHAR},
      </if>
      <if test="rightNwz != null">
        right_nwz = #{rightNwz,jdbcType=VARCHAR},
      </if>
      <if test="leftSxz != null">
        left_sxz = #{leftSxz,jdbcType=VARCHAR},
      </if>
      <if test="rightSxz != null">
        right_sxz = #{rightSxz,jdbcType=VARCHAR},
      </if>
      <if test="leftSxx != null">
        left_sxx = #{leftSxx,jdbcType=VARCHAR},
      </if>
      <if test="rightSxx != null">
        right_sxx = #{rightSxx,jdbcType=VARCHAR},
      </if>
      <if test="testadvice != null">
        test_advice = #{testadvice,jdbcType=VARCHAR},
      </if>
      <if test="trainplan != null">
        train_plan = #{trainplan,jdbcType=VARCHAR},
      </if>
      <if test="eatingadvice != null">
        eating_advice = #{eatingadvice,jdbcType=VARCHAR},
      </if>
      <if test="execisingadvice != null">
        execising_advice = #{execisingadvice,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uploadtime != null">
        upload_time = #{uploadtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="springboot.mybatis.po.TEyesight">
    update t_eyesight
    set student_id = #{studentId,jdbcType=VARCHAR},
      left_nwz = #{leftNwz,jdbcType=VARCHAR},
      right_nwz = #{rightNwz,jdbcType=VARCHAR},
      left_sxz = #{leftSxz,jdbcType=VARCHAR},
      right_sxz = #{rightSxz,jdbcType=VARCHAR},
      left_sxx = #{leftSxx,jdbcType=VARCHAR},
      right_sxx = #{rightSxx,jdbcType=VARCHAR},
      test_advice = #{testadvice,jdbcType=VARCHAR},
      train_plan = #{trainplan,jdbcType=VARCHAR},
      eating_advice = #{eatingadvice,jdbcType=VARCHAR},
      execising_advice = #{execisingadvice,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      upload_time = #{uploadtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>