<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="teenhealth.mybatis.mapper.TSomaticGameRecordMapper" >
  <resultMap id="BaseResultMap" type="teenhealth.mybatis.po.TSomaticGameRecord" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="student_id" property="studentId" jdbcType="VARCHAR" />
    <result column="plan_id" property="planId" jdbcType="VARCHAR" />
    <result column="train_mode" property="trainMode" jdbcType="INTEGER" />
    <result column="mode_escape" property="modeEscape" jdbcType="INTEGER" />
    <result column="escape_time" property="escapeTime" jdbcType="INTEGER" />
    <result column="level_escape_train" property="levelEscapeTrain" jdbcType="INTEGER" />
    <result column="num_eleg_up" property="numElegUp" jdbcType="INTEGER" />
    <result column="num_squat" property="numSquat" jdbcType="INTEGER" />
    <result column="num_jump" property="numJump" jdbcType="INTEGER" />
    <result column="num_not_leg_lift" property="numNotLegLift" jdbcType="INTEGER" />
    <result column="num_not_squat" property="numNotSquat" jdbcType="INTEGER" />
    <result column="num_not_jump" property="numNotJump" jdbcType="INTEGER" />
    <result column="num_diamond" property="numDiamond" jdbcType="INTEGER" />
    <result column="score_esecape" property="scoreEsecape" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="upload_time" property="uploadTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >

    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, student_id, plan_id, train_mode, mode_escape, escape_time, level_escape_train, 
    num_eleg_up, num_squat, num_jump, num_not_leg_lift, num_not_squat, num_not_jump, 
    num_diamond, score_esecape, create_time, upload_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="teenhealth.mybatis.po.TSomaticGameRecordExample" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Mar 23 10:53:04 CST 2020.
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_somatic_game_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_somatic_game_record
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <!--根据处方id查询xx学生xx处方执行记录-->
  <select id="ListSomaticPlanRecords" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from t_somatic_game_record
    where plan_id = #{id,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Mar 23 10:53:04 CST 2020.
    -->
    delete from t_somatic_game_record
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="teenhealth.mybatis.po.TSomaticGameRecordExample" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Mar 23 10:53:04 CST 2020.
    -->
    delete from t_somatic_game_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="teenhealth.mybatis.po.TSomaticGameRecord" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Mar 23 10:53:04 CST 2020.
    -->
    insert into t_somatic_game_record (id, student_id, plan_id, 
      train_mode, mode_escape, escape_time, 
      level_escape_train, num_eleg_up, num_squat, 
      num_jump, num_not_leg_lift, num_not_squat, 
      num_not_jump, num_diamond, score_esecape, 
      create_time, upload_time)
    values (#{id,jdbcType=VARCHAR}, #{studentId,jdbcType=VARCHAR}, #{planId,jdbcType=VARCHAR}, 
      #{trainMode,jdbcType=INTEGER}, #{modeEscape,jdbcType=INTEGER}, #{escapeTime,jdbcType=INTEGER}, 
      #{levelEscapeTrain,jdbcType=INTEGER}, #{numElegUp,jdbcType=INTEGER}, #{numSquat,jdbcType=INTEGER}, 
      #{numJump,jdbcType=INTEGER}, #{numNotLegLift,jdbcType=INTEGER}, #{numNotSquat,jdbcType=INTEGER}, 
      #{numNotJump,jdbcType=INTEGER}, #{numDiamond,jdbcType=INTEGER}, #{scoreEsecape,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{uploadTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="teenhealth.mybatis.po.TSomaticGameRecord" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Mar 23 10:53:04 CST 2020.
    -->
    insert into t_somatic_game_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="studentId != null" >
        student_id,
      </if>
      <if test="planId != null" >
        plan_id,
      </if>
      <if test="trainMode != null" >
        train_mode,
      </if>
      <if test="modeEscape != null" >
        mode_escape,
      </if>
      <if test="escapeTime != null" >
        escape_time,
      </if>
      <if test="levelEscapeTrain != null" >
        level_escape_train,
      </if>
      <if test="numElegUp != null" >
        num_eleg_up,
      </if>
      <if test="numSquat != null" >
        num_squat,
      </if>
      <if test="numJump != null" >
        num_jump,
      </if>
      <if test="numNotLegLift != null" >
        num_not_leg_lift,
      </if>
      <if test="numNotSquat != null" >
        num_not_squat,
      </if>
      <if test="numNotJump != null" >
        num_not_jump,
      </if>
      <if test="numDiamond != null" >
        num_diamond,
      </if>
      <if test="scoreEsecape != null" >
        score_esecape,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="uploadTime != null" >
        upload_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null" >
        #{studentId,jdbcType=VARCHAR},
      </if>
      <if test="planId != null" >
        #{planId,jdbcType=VARCHAR},
      </if>
      <if test="trainMode != null" >
        #{trainMode,jdbcType=INTEGER},
      </if>
      <if test="modeEscape != null" >
        #{modeEscape,jdbcType=INTEGER},
      </if>
      <if test="escapeTime != null" >
        #{escapeTime,jdbcType=INTEGER},
      </if>
      <if test="levelEscapeTrain != null" >
        #{levelEscapeTrain,jdbcType=INTEGER},
      </if>
      <if test="numElegUp != null" >
        #{numElegUp,jdbcType=INTEGER},
      </if>
      <if test="numSquat != null" >
        #{numSquat,jdbcType=INTEGER},
      </if>
      <if test="numJump != null" >
        #{numJump,jdbcType=INTEGER},
      </if>
      <if test="numNotLegLift != null" >
        #{numNotLegLift,jdbcType=INTEGER},
      </if>
      <if test="numNotSquat != null" >
        #{numNotSquat,jdbcType=INTEGER},
      </if>
      <if test="numNotJump != null" >
        #{numNotJump,jdbcType=INTEGER},
      </if>
      <if test="numDiamond != null" >
        #{numDiamond,jdbcType=INTEGER},
      </if>
      <if test="scoreEsecape != null" >
        #{scoreEsecape,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uploadTime != null" >
        #{uploadTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="teenhealth.mybatis.po.TSomaticGameRecordExample" resultType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Mar 23 10:53:04 CST 2020.
    -->
    select count(*) from t_somatic_game_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Mar 23 10:53:04 CST 2020.
    -->
    update t_somatic_game_record
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.studentId != null" >
        student_id = #{record.studentId,jdbcType=VARCHAR},
      </if>
      <if test="record.planId != null" >
        plan_id = #{record.planId,jdbcType=VARCHAR},
      </if>
      <if test="record.trainMode != null" >
        train_mode = #{record.trainMode,jdbcType=INTEGER},
      </if>
      <if test="record.modeEscape != null" >
        mode_escape = #{record.modeEscape,jdbcType=INTEGER},
      </if>
      <if test="record.escapeTime != null" >
        escape_time = #{record.escapeTime,jdbcType=INTEGER},
      </if>
      <if test="record.levelEscapeTrain != null" >
        level_escape_train = #{record.levelEscapeTrain,jdbcType=INTEGER},
      </if>
      <if test="record.numElegUp != null" >
        num_eleg_up = #{record.numElegUp,jdbcType=INTEGER},
      </if>
      <if test="record.numSquat != null" >
        num_squat = #{record.numSquat,jdbcType=INTEGER},
      </if>
      <if test="record.numJump != null" >
        num_jump = #{record.numJump,jdbcType=INTEGER},
      </if>
      <if test="record.numNotLegLift != null" >
        num_not_leg_lift = #{record.numNotLegLift,jdbcType=INTEGER},
      </if>
      <if test="record.numNotSquat != null" >
        num_not_squat = #{record.numNotSquat,jdbcType=INTEGER},
      </if>
      <if test="record.numNotJump != null" >
        num_not_jump = #{record.numNotJump,jdbcType=INTEGER},
      </if>
      <if test="record.numDiamond != null" >
        num_diamond = #{record.numDiamond,jdbcType=INTEGER},
      </if>
      <if test="record.scoreEsecape != null" >
        score_esecape = #{record.scoreEsecape,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.uploadTime != null" >
        upload_time = #{record.uploadTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Mar 23 10:53:04 CST 2020.
    -->
    update t_somatic_game_record
    set id = #{record.id,jdbcType=VARCHAR},
      student_id = #{record.studentId,jdbcType=VARCHAR},
      plan_id = #{record.planId,jdbcType=VARCHAR},
      train_mode = #{record.trainMode,jdbcType=INTEGER},
      mode_escape = #{record.modeEscape,jdbcType=INTEGER},
      escape_time = #{record.escapeTime,jdbcType=INTEGER},
      level_escape_train = #{record.levelEscapeTrain,jdbcType=INTEGER},
      num_eleg_up = #{record.numElegUp,jdbcType=INTEGER},
      num_squat = #{record.numSquat,jdbcType=INTEGER},
      num_jump = #{record.numJump,jdbcType=INTEGER},
      num_not_leg_lift = #{record.numNotLegLift,jdbcType=INTEGER},
      num_not_squat = #{record.numNotSquat,jdbcType=INTEGER},
      num_not_jump = #{record.numNotJump,jdbcType=INTEGER},
      num_diamond = #{record.numDiamond,jdbcType=INTEGER},
      score_esecape = #{record.scoreEsecape,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      upload_time = #{record.uploadTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="teenhealth.mybatis.po.TSomaticGameRecord" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Mar 23 10:53:04 CST 2020.
    -->
    update t_somatic_game_record
    <set >
      <if test="studentId != null" >
        student_id = #{studentId,jdbcType=VARCHAR},
      </if>
      <if test="planId != null" >
        plan_id = #{planId,jdbcType=VARCHAR},
      </if>
      <if test="trainMode != null" >
        train_mode = #{trainMode,jdbcType=INTEGER},
      </if>
      <if test="modeEscape != null" >
        mode_escape = #{modeEscape,jdbcType=INTEGER},
      </if>
      <if test="escapeTime != null" >
        escape_time = #{escapeTime,jdbcType=INTEGER},
      </if>
      <if test="levelEscapeTrain != null" >
        level_escape_train = #{levelEscapeTrain,jdbcType=INTEGER},
      </if>
      <if test="numElegUp != null" >
        num_eleg_up = #{numElegUp,jdbcType=INTEGER},
      </if>
      <if test="numSquat != null" >
        num_squat = #{numSquat,jdbcType=INTEGER},
      </if>
      <if test="numJump != null" >
        num_jump = #{numJump,jdbcType=INTEGER},
      </if>
      <if test="numNotLegLift != null" >
        num_not_leg_lift = #{numNotLegLift,jdbcType=INTEGER},
      </if>
      <if test="numNotSquat != null" >
        num_not_squat = #{numNotSquat,jdbcType=INTEGER},
      </if>
      <if test="numNotJump != null" >
        num_not_jump = #{numNotJump,jdbcType=INTEGER},
      </if>
      <if test="numDiamond != null" >
        num_diamond = #{numDiamond,jdbcType=INTEGER},
      </if>
      <if test="scoreEsecape != null" >
        score_esecape = #{scoreEsecape,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uploadTime != null" >
        upload_time = #{uploadTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="teenhealth.mybatis.po.TSomaticGameRecord" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Mar 23 10:53:04 CST 2020.
    -->
    update t_somatic_game_record
    set student_id = #{studentId,jdbcType=VARCHAR},
      plan_id = #{planId,jdbcType=VARCHAR},
      train_mode = #{trainMode,jdbcType=INTEGER},
      mode_escape = #{modeEscape,jdbcType=INTEGER},
      escape_time = #{escapeTime,jdbcType=INTEGER},
      level_escape_train = #{levelEscapeTrain,jdbcType=INTEGER},
      num_eleg_up = #{numElegUp,jdbcType=INTEGER},
      num_squat = #{numSquat,jdbcType=INTEGER},
      num_jump = #{numJump,jdbcType=INTEGER},
      num_not_leg_lift = #{numNotLegLift,jdbcType=INTEGER},
      num_not_squat = #{numNotSquat,jdbcType=INTEGER},
      num_not_jump = #{numNotJump,jdbcType=INTEGER},
      num_diamond = #{numDiamond,jdbcType=INTEGER},
      score_esecape = #{scoreEsecape,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      upload_time = #{uploadTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>