<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="teenhealth.mybatis.mapper.TSomaticGameMapper" >
  <resultMap id="BaseResultMap" type="teenhealth.mybatis.po.TSomaticGame" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="student_id" property="studentId" jdbcType="VARCHAR" />
    <result column="test_item" property="testItem" jdbcType="INTEGER" />
    <result column="score_flex" property="scoreFlex" jdbcType="INTEGER" />
    <result column="score_blan" property="scoreBlan" jdbcType="INTEGER" />
    <result column="score_jump" property="scoreJump" jdbcType="INTEGER" />
    <result column="score_choosetime" property="scoreChoosetime" jdbcType="INTEGER" />
    <result column="result_flex" property="resultFlex" jdbcType="REAL" />
    <result column="result_blan" property="resultBlan" jdbcType="REAL" />
    <result column="result_jump" property="resultJump" jdbcType="REAL" />
    <result column="result_choosetime" property="resultChoosetime" jdbcType="REAL" />
    <result column="level_flex" property="levelFlex" jdbcType="VARCHAR" />
    <result column="level_blan" property="levelBlan" jdbcType="VARCHAR" />
    <result column="level_jump" property="levelJump" jdbcType="VARCHAR" />
    <result column="level_choosetime" property="levelChoosetime" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="upload_time" property="uploadTime" jdbcType="TIMESTAMP" />
    <result column="sugg_flex" property="suggFlex" jdbcType="LONGVARCHAR" />
    <result column="sugg_blan" property="suggBlan" jdbcType="LONGVARCHAR" />
    <result column="sugg_jump" property="suggJump" jdbcType="LONGVARCHAR" />
    <result column="sugg_choosetime" property="suggChoosetime" jdbcType="LONGVARCHAR" />
  </resultMap>

  <resultMap id="SomaticStudentResultMap" type="teenhealth.mybatis.po.TSomaticGameCustom" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="student_id" property="studentId" jdbcType="VARCHAR" />
    <result column="test_item" property="testItem" jdbcType="INTEGER" />
    <result column="score_flex" property="scoreFlex" jdbcType="INTEGER" />
    <result column="score_blan" property="scoreBlan" jdbcType="INTEGER" />
    <result column="score_jump" property="scoreJump" jdbcType="INTEGER" />
    <result column="score_choosetime" property="scoreChoosetime" jdbcType="INTEGER" />
    <result column="result_flex" property="resultFlex" jdbcType="REAL" />
    <result column="result_blan" property="resultBlan" jdbcType="REAL" />
    <result column="result_jump" property="resultJump" jdbcType="REAL" />
    <result column="result_choosetime" property="resultChoosetime" jdbcType="REAL" />
    <result column="level_flex" property="levelFlex" jdbcType="VARCHAR" />
    <result column="level_blan" property="levelBlan" jdbcType="VARCHAR" />
    <result column="level_jump" property="levelJump" jdbcType="VARCHAR" />
    <result column="level_choosetime" property="levelChoosetime" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="upload_time" property="uploadTime" jdbcType="TIMESTAMP" />
    <result column="sugg_flex" property="suggFlex" jdbcType="LONGVARCHAR" />
    <result column="sugg_blan" property="suggBlan" jdbcType="LONGVARCHAR" />
    <result column="sugg_jump" property="suggJump" jdbcType="LONGVARCHAR" />
    <result column="sugg_choosetime" property="suggChoosetime" jdbcType="LONGVARCHAR" />

    <association property="tStudent" javaType="teenhealth.mybatis.po.TStudent">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="student_no" jdbcType="VARCHAR" property="studentNo" />
    <result column="student_name" jdbcType="VARCHAR" property="studentName" />
    <result column="class_id" jdbcType="VARCHAR" property="classId" />
    <result column="school_id" jdbcType="VARCHAR" property="schoolId" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="stature" jdbcType="DOUBLE" property="stature" />
    <result column="weight" jdbcType="DOUBLE" property="weight" />
    <result column="heart_rate" jdbcType="INTEGER" property="heartRate" />
    <result column="id_card" jdbcType="VARCHAR" property="idCard" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="medical" jdbcType="VARCHAR" property="medical" />
    <result column="phone_no" jdbcType="INTEGER" property="phoneNo" />
    <result column="left_sight" jdbcType="DOUBLE" property="leftSight" />
    <result column="right_sight" jdbcType="DOUBLE" property="rightSight" />
    </association>
  </resultMap>

  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

  <sql id="Base_Column_List" >
    id, student_id, test_item, score_flex, score_blan, score_jump, score_choosetime, 
    result_flex, result_blan, result_jump, result_choosetime, level_flex, level_blan, 
    level_jump, level_choosetime, create_time, upload_time,sugg_flex, sugg_blan, sugg_jump, sugg_choosetime
  </sql>

  <sql id="SomaticStudent_Column_List" >
    g.id, g.student_id, g.test_item, g.score_flex, g.score_blan, g.score_jump, g.score_choosetime,
    g.result_flex, g.result_blan, g.result_jump, g.result_choosetime, g.level_flex, g.level_blan,
    g.level_jump, g.level_choosetime, g.create_time, g.upload_time,g.sugg_flex, g.sugg_blan, g.sugg_jump, g.sugg_choosetime,
    s.id, s.student_no, s.student_name, s.class_id, s.school_id, s.age, s.sex, s.stature, s.weight
  </sql>

  <select id="selectByExampleWithBLOBs" resultMap="BaseResultMap" parameterType="teenhealth.mybatis.po.TSomaticGameExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_somatic_game
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>

  <select id="selectByExample" resultMap="BaseResultMap" parameterType="teenhealth.mybatis.po.TSomaticGameExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_somatic_game
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>

  <!--显示xx学生体感游戏测试记录-->
  <select id="listStudentSomatic" resultMap="SomaticStudentResultMap" parameterType="java.lang.String" >
    select
    <include refid="SomaticStudent_Column_List" />
    from t_student s, t_somatic_game g
    WHERE g.student_id=#{studentId,jdbcType=VARCHAR} and s.id=#{studentId,jdbcType=VARCHAR} ORDER BY g.create_time DESC
  </select>

  <!--显示所有学生体感游戏测试最新报告-->
  <select id="listTSomaticGame" resultMap="SomaticStudentResultMap" parameterType="java.lang.String" >
    select
    <include refid="SomaticStudent_Column_List" />
    from t_student s, t_somatic_game g,
    (SELECT * from t_somatic_game, (SELECT student_id as studentid,MAX(upload_time) as maxdate FROM t_somatic_game GROUP BY student_id) x
    WHERE x.studentid=t_somatic_game.student_id AND x.maxdate =t_somatic_game.upload_time) y WHERE y.id=g.id AND g.student_id=s.id
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_somatic_game
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_somatic_game
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="teenhealth.mybatis.po.TSomaticGameExample" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Mar 23 10:53:04 CST 2020.
    -->
    delete from t_somatic_game
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="teenhealth.mybatis.po.TSomaticGameWithBLOBs" >
    insert into t_somatic_game (id, student_id, test_item, 
      score_flex, score_blan, score_jump, 
      score_choosetime, result_flex, result_blan, 
      result_jump, result_choosetime, level_flex, 
      level_blan, level_jump, level_choosetime, 
      create_time, upload_time, sugg_flex, 
      sugg_blan, sugg_jump, sugg_choosetime
      )
    values (#{id,jdbcType=VARCHAR}, #{studentId,jdbcType=VARCHAR}, #{testItem,jdbcType=INTEGER}, 
      #{scoreFlex,jdbcType=INTEGER}, #{scoreBlan,jdbcType=INTEGER}, #{scoreJump,jdbcType=INTEGER}, 
      #{scoreChoosetime,jdbcType=INTEGER}, #{resultFlex,jdbcType=REAL}, #{resultBlan,jdbcType=REAL}, 
      #{resultJump,jdbcType=REAL}, #{resultChoosetime,jdbcType=REAL}, #{levelFlex,jdbcType=VARCHAR}, 
      #{levelBlan,jdbcType=VARCHAR}, #{levelJump,jdbcType=VARCHAR}, #{levelChoosetime,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{uploadTime,jdbcType=TIMESTAMP}, #{suggFlex,jdbcType=LONGVARCHAR}, 
      #{suggBlan,jdbcType=LONGVARCHAR}, #{suggJump,jdbcType=LONGVARCHAR}, #{suggChoosetime,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="teenhealth.mybatis.po.TSomaticGameWithBLOBs" >
    <!--自动生成32位UUID主键-->
    <selectKey keyProperty="id" resultType="String" order="BEFORE">
      select  replace(uuid(),'-','')   from dual
    </selectKey>
    insert into t_somatic_game
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="studentId != null" >
        student_id,
      </if>
      <if test="testItem != null" >
        test_item,
      </if>
      <if test="scoreFlex != null" >
        score_flex,
      </if>
      <if test="scoreBlan != null" >
        score_blan,
      </if>
      <if test="scoreJump != null" >
        score_jump,
      </if>
      <if test="scoreChoosetime != null" >
        score_choosetime,
      </if>
      <if test="resultFlex != null" >
        result_flex,
      </if>
      <if test="resultBlan != null" >
        result_blan,
      </if>
      <if test="resultJump != null" >
        result_jump,
      </if>
      <if test="resultChoosetime != null" >
        result_choosetime,
      </if>
      <if test="levelFlex != null" >
        level_flex,
      </if>
      <if test="levelBlan != null" >
        level_blan,
      </if>
      <if test="levelJump != null" >
        level_jump,
      </if>
      <if test="levelChoosetime != null" >
        level_choosetime,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="uploadTime != null" >
        upload_time,
      </if>
      <if test="suggFlex != null" >
        sugg_flex,
      </if>
      <if test="suggBlan != null" >
        sugg_blan,
      </if>
      <if test="suggJump != null" >
        sugg_jump,
      </if>
      <if test="suggChoosetime != null" >
        sugg_choosetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null" >
        #{studentId,jdbcType=VARCHAR},
      </if>
      <if test="testItem != null" >
        #{testItem,jdbcType=INTEGER},
      </if>
      <if test="scoreFlex != null" >
        #{scoreFlex,jdbcType=INTEGER},
      </if>
      <if test="scoreBlan != null" >
        #{scoreBlan,jdbcType=INTEGER},
      </if>
      <if test="scoreJump != null" >
        #{scoreJump,jdbcType=INTEGER},
      </if>
      <if test="scoreChoosetime != null" >
        #{scoreChoosetime,jdbcType=INTEGER},
      </if>
      <if test="resultFlex != null" >
        #{resultFlex,jdbcType=REAL},
      </if>
      <if test="resultBlan != null" >
        #{resultBlan,jdbcType=REAL},
      </if>
      <if test="resultJump != null" >
        #{resultJump,jdbcType=REAL},
      </if>
      <if test="resultChoosetime != null" >
        #{resultChoosetime,jdbcType=REAL},
      </if>
      <if test="levelFlex != null" >
        #{levelFlex,jdbcType=VARCHAR},
      </if>
      <if test="levelBlan != null" >
        #{levelBlan,jdbcType=VARCHAR},
      </if>
      <if test="levelJump != null" >
        #{levelJump,jdbcType=VARCHAR},
      </if>
      <if test="levelChoosetime != null" >
        #{levelChoosetime,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uploadTime != null" >
        #{uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="suggFlex != null" >
        #{suggFlex,jdbcType=LONGVARCHAR},
      </if>
      <if test="suggBlan != null" >
        #{suggBlan,jdbcType=LONGVARCHAR},
      </if>
      <if test="suggJump != null" >
        #{suggJump,jdbcType=LONGVARCHAR},
      </if>
      <if test="suggChoosetime != null" >
        #{suggChoosetime,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="teenhealth.mybatis.po.TSomaticGameExample" resultType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Mar 23 10:53:04 CST 2020.
    -->
    select count(*) from t_somatic_game
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Mar 23 10:53:04 CST 2020.
    -->
    update t_somatic_game
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.studentId != null" >
        student_id = #{record.studentId,jdbcType=VARCHAR},
      </if>
      <if test="record.testItem != null" >
        test_item = #{record.testItem,jdbcType=INTEGER},
      </if>
      <if test="record.scoreFlex != null" >
        score_flex = #{record.scoreFlex,jdbcType=INTEGER},
      </if>
      <if test="record.scoreBlan != null" >
        score_blan = #{record.scoreBlan,jdbcType=INTEGER},
      </if>
      <if test="record.scoreJump != null" >
        score_jump = #{record.scoreJump,jdbcType=INTEGER},
      </if>
      <if test="record.scoreChoosetime != null" >
        score_choosetime = #{record.scoreChoosetime,jdbcType=INTEGER},
      </if>
      <if test="record.resultFlex != null" >
        result_flex = #{record.resultFlex,jdbcType=REAL},
      </if>
      <if test="record.resultBlan != null" >
        result_blan = #{record.resultBlan,jdbcType=REAL},
      </if>
      <if test="record.resultJump != null" >
        result_jump = #{record.resultJump,jdbcType=REAL},
      </if>
      <if test="record.resultChoosetime != null" >
        result_choosetime = #{record.resultChoosetime,jdbcType=REAL},
      </if>
      <if test="record.levelFlex != null" >
        level_flex = #{record.levelFlex,jdbcType=VARCHAR},
      </if>
      <if test="record.levelBlan != null" >
        level_blan = #{record.levelBlan,jdbcType=VARCHAR},
      </if>
      <if test="record.levelJump != null" >
        level_jump = #{record.levelJump,jdbcType=VARCHAR},
      </if>
      <if test="record.levelChoosetime != null" >
        level_choosetime = #{record.levelChoosetime,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.uploadTime != null" >
        upload_time = #{record.uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.suggFlex != null" >
        sugg_flex = #{record.suggFlex,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.suggBlan != null" >
        sugg_blan = #{record.suggBlan,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.suggJump != null" >
        sugg_jump = #{record.suggJump,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.suggChoosetime != null" >
        sugg_choosetime = #{record.suggChoosetime,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Mar 23 10:53:04 CST 2020.
    -->
    update t_somatic_game
    set id = #{record.id,jdbcType=VARCHAR},
      student_id = #{record.studentId,jdbcType=VARCHAR},
      test_item = #{record.testItem,jdbcType=INTEGER},
      score_flex = #{record.scoreFlex,jdbcType=INTEGER},
      score_blan = #{record.scoreBlan,jdbcType=INTEGER},
      score_jump = #{record.scoreJump,jdbcType=INTEGER},
      score_choosetime = #{record.scoreChoosetime,jdbcType=INTEGER},
      result_flex = #{record.resultFlex,jdbcType=REAL},
      result_blan = #{record.resultBlan,jdbcType=REAL},
      result_jump = #{record.resultJump,jdbcType=REAL},
      result_choosetime = #{record.resultChoosetime,jdbcType=REAL},
      level_flex = #{record.levelFlex,jdbcType=VARCHAR},
      level_blan = #{record.levelBlan,jdbcType=VARCHAR},
      level_jump = #{record.levelJump,jdbcType=VARCHAR},
      level_choosetime = #{record.levelChoosetime,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      upload_time = #{record.uploadTime,jdbcType=TIMESTAMP},
      sugg_flex = #{record.suggFlex,jdbcType=LONGVARCHAR},
      sugg_blan = #{record.suggBlan,jdbcType=LONGVARCHAR},
      sugg_jump = #{record.suggJump,jdbcType=LONGVARCHAR},
      sugg_choosetime = #{record.suggChoosetime,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Mar 23 10:53:04 CST 2020.
    -->
    update t_somatic_game
    set id = #{record.id,jdbcType=VARCHAR},
      student_id = #{record.studentId,jdbcType=VARCHAR},
      test_item = #{record.testItem,jdbcType=INTEGER},
      score_flex = #{record.scoreFlex,jdbcType=INTEGER},
      score_blan = #{record.scoreBlan,jdbcType=INTEGER},
      score_jump = #{record.scoreJump,jdbcType=INTEGER},
      score_choosetime = #{record.scoreChoosetime,jdbcType=INTEGER},
      result_flex = #{record.resultFlex,jdbcType=REAL},
      result_blan = #{record.resultBlan,jdbcType=REAL},
      result_jump = #{record.resultJump,jdbcType=REAL},
      result_choosetime = #{record.resultChoosetime,jdbcType=REAL},
      level_flex = #{record.levelFlex,jdbcType=VARCHAR},
      level_blan = #{record.levelBlan,jdbcType=VARCHAR},
      level_jump = #{record.levelJump,jdbcType=VARCHAR},
      level_choosetime = #{record.levelChoosetime,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      upload_time = #{record.uploadTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="teenhealth.mybatis.po.TSomaticGameWithBLOBs" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Mar 23 10:53:04 CST 2020.
    -->
    update t_somatic_game
    <set >
      <if test="studentId != null" >
        student_id = #{studentId,jdbcType=VARCHAR},
      </if>
      <if test="testItem != null" >
        test_item = #{testItem,jdbcType=INTEGER},
      </if>
      <if test="scoreFlex != null" >
        score_flex = #{scoreFlex,jdbcType=INTEGER},
      </if>
      <if test="scoreBlan != null" >
        score_blan = #{scoreBlan,jdbcType=INTEGER},
      </if>
      <if test="scoreJump != null" >
        score_jump = #{scoreJump,jdbcType=INTEGER},
      </if>
      <if test="scoreChoosetime != null" >
        score_choosetime = #{scoreChoosetime,jdbcType=INTEGER},
      </if>
      <if test="resultFlex != null" >
        result_flex = #{resultFlex,jdbcType=REAL},
      </if>
      <if test="resultBlan != null" >
        result_blan = #{resultBlan,jdbcType=REAL},
      </if>
      <if test="resultJump != null" >
        result_jump = #{resultJump,jdbcType=REAL},
      </if>
      <if test="resultChoosetime != null" >
        result_choosetime = #{resultChoosetime,jdbcType=REAL},
      </if>
      <if test="levelFlex != null" >
        level_flex = #{levelFlex,jdbcType=VARCHAR},
      </if>
      <if test="levelBlan != null" >
        level_blan = #{levelBlan,jdbcType=VARCHAR},
      </if>
      <if test="levelJump != null" >
        level_jump = #{levelJump,jdbcType=VARCHAR},
      </if>
      <if test="levelChoosetime != null" >
        level_choosetime = #{levelChoosetime,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uploadTime != null" >
        upload_time = #{uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="suggFlex != null" >
        sugg_flex = #{suggFlex,jdbcType=LONGVARCHAR},
      </if>
      <if test="suggBlan != null" >
        sugg_blan = #{suggBlan,jdbcType=LONGVARCHAR},
      </if>
      <if test="suggJump != null" >
        sugg_jump = #{suggJump,jdbcType=LONGVARCHAR},
      </if>
      <if test="suggChoosetime != null" >
        sugg_choosetime = #{suggChoosetime,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="teenhealth.mybatis.po.TSomaticGameWithBLOBs" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Mar 23 10:53:04 CST 2020.
    -->
    update t_somatic_game
    set student_id = #{studentId,jdbcType=VARCHAR},
      test_item = #{testItem,jdbcType=INTEGER},
      score_flex = #{scoreFlex,jdbcType=INTEGER},
      score_blan = #{scoreBlan,jdbcType=INTEGER},
      score_jump = #{scoreJump,jdbcType=INTEGER},
      score_choosetime = #{scoreChoosetime,jdbcType=INTEGER},
      result_flex = #{resultFlex,jdbcType=REAL},
      result_blan = #{resultBlan,jdbcType=REAL},
      result_jump = #{resultJump,jdbcType=REAL},
      result_choosetime = #{resultChoosetime,jdbcType=REAL},
      level_flex = #{levelFlex,jdbcType=VARCHAR},
      level_blan = #{levelBlan,jdbcType=VARCHAR},
      level_jump = #{levelJump,jdbcType=VARCHAR},
      level_choosetime = #{levelChoosetime,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      upload_time = #{uploadTime,jdbcType=TIMESTAMP},
      sugg_flex = #{suggFlex,jdbcType=LONGVARCHAR},
      sugg_blan = #{suggBlan,jdbcType=LONGVARCHAR},
      sugg_jump = #{suggJump,jdbcType=LONGVARCHAR},
      sugg_choosetime = #{suggChoosetime,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="teenhealth.mybatis.po.TSomaticGame" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Mar 23 10:53:04 CST 2020.
    -->
    update t_somatic_game
    set student_id = #{studentId,jdbcType=VARCHAR},
      test_item = #{testItem,jdbcType=INTEGER},
      score_flex = #{scoreFlex,jdbcType=INTEGER},
      score_blan = #{scoreBlan,jdbcType=INTEGER},
      score_jump = #{scoreJump,jdbcType=INTEGER},
      score_choosetime = #{scoreChoosetime,jdbcType=INTEGER},
      result_flex = #{resultFlex,jdbcType=REAL},
      result_blan = #{resultBlan,jdbcType=REAL},
      result_jump = #{resultJump,jdbcType=REAL},
      result_choosetime = #{resultChoosetime,jdbcType=REAL},
      level_flex = #{levelFlex,jdbcType=VARCHAR},
      level_blan = #{levelBlan,jdbcType=VARCHAR},
      level_jump = #{levelJump,jdbcType=VARCHAR},
      level_choosetime = #{levelChoosetime,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      upload_time = #{uploadTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>