<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en" xmlns:th="http://www.thymeleaf.org"
                         xmlns:sec="http://www.thymeleaf.org/extras/spring-security4"> <!--<![endif]-->

<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>学校学生信息</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/style_responsive.css" rel="stylesheet" />
    <link href="/css/style_default.css" rel="stylesheet" id="style_color" />
    <link href="/assets/fancybox/source/jquery.fancybox.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/assets/uniform/css/uniform.default.css" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="fixed-top">

<!-- 引入开始顶部导航栏 -->
<div th:replace="commons/bars::topbar"></div>
<!-- END HEADER -->
<!-- BEGIN CONTAINER -->
<div id="container" class="row-fluid">

    <!-- 引入侧边栏 -->
    <div th:replace="commons/bars::#sidebar(activeUri='/teacher/classList')"></div>

    <!-- 页面开始 -->
    <div id="main-content">
        <!-- 开始页面容器-->
        <div class="container-fluid">
            <!-- 开始页眉-->
            <div class="row-fluid">
                <div class="span12">
                    <!-- 开始主题编辑器-->
                    <div id="theme-change" class="hidden-phone">
                        <i class="icon-cogs"></i>
                        <span class="settings">
                                <span class="text">主题:</span>
                                <span class="colors">
                                    <span class="color-default" data-style="default"></span>
                                    <span class="color-gray" data-style="gray"></span>
                                    <span class="color-purple" data-style="purple"></span>
                                    <span class="color-navy-blue" data-style="navy-blue"></span>
                                </span>
							</span>
                    </div>
                    <!-- END THEME CUSTOMIZER-->
                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                    <h3 class="page-title">
                        体适能概况
                        <small>心肺耐力测试信息</small>
                    </h3>
                    <ul class="breadcrumb">
                        <li>
                            <a href="/teacher/homepage"><i class="icon-home"></i></a><span class="divider">&nbsp;</span>
                        </li>
                        <li><a href="#">体质健康管理</a> <span class="divider">&nbsp;</span></li>
                        <li><a href="/teacher/cardiolist">心肺耐力水平</a><span class="divider">&nbsp;</span></li>
                        <li><a href="#">详细报告</a><span class="divider-last">&nbsp;</span></li>
                    </ul>
                    <!-- END PAGE TITLE & BREADCRUMB-->
                </div>
            </div>
            <!-- END PAGE HEADER-->

            <!-- BEGIN ADVANCED TABLE widget-->
            <!--Managed Table-->
            <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN SAMPLE TABLE widget-->
                    <div class="widget">
                        <div class="widget-title">
                            <h3><i class="icon-cogs"></i>心肺耐力测试详细</h3>
                            <span class="tools">
                        <a href="javascript:;" class="icon-chevron-down"></a>
                        <a href="javascript:;" class="icon-remove"></a>
                        </span>
                        </div>

                                    <table id="mytab" class="table table-hover table-striped"></table>
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered" id="sample_1">
                                            <thead>
                                            <tr>
                                                <th><i class="icon-heart"></i> 最大运动安全心率</th>
                                                <th><i class="icon-star"></i> 最大摄氧量</th>
                                                <th><i class="icon-dashboard"></i> 最大功率</th>
                                                <th><i class="icon-star-empty"></i> F.C</th>
                                                <th><i class="icon-bar-chart"></i> 心肺耐力评分</th>
                                                <th><i class="icon-calendar"></i> 指导建议</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="cardioreport:${CardioReport}" class="odd gradeX">
                                                <td th:text="${cardioreport.heartRate}"></td>
                                                <td th:text="${cardioreport.oxygenUptake}"></td>
                                                <td th:text="${cardioreport.maxPower}"></td>
                                                <td th:text="${cardioreport.fc}"></td>
                                                <td th:text="${cardioreport.score}"></td>
                                                <td th:text="${cardioreport.suggestion}"></td>

                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- END SAMPLE TABLE widget-->
                            </div>
                    </div>
                    <!-- END EXAMPLE TABLE widget-->
                </div>
            </div>
            <!-- END ADVANCED TABLE widget-->
            <!-- END PAGE CONTENT-->
        </div>
        </div>
        <!-- END PAGE CONTAINER-->
    </div>
    <!-- END PAGE -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<!-- 引入页面底部 -->
<div th:replace="commons/bars::#footer"></div>
<!-- END FOOTER -->
<!-- BEGIN JAVASCRIPTS -->
<!-- Load javascripts at bottom, this will reduce page load time -->
<script src="/js/jquery-1.8.3.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/jquery.blockui.js"></script>
<!-- ie8 fixes -->
<!--[if lt IE 9]>
<script src="/js/excanvas.js"></script>
<script src="/js/respond.js"></script>
<![endif]-->
<script type="text/javascript" src="/assets/uniform/jquery.uniform.min.js"></script>
<script type="text/javascript" src="/assets/data-tables/jquery.dataTables.js"></script>
<script type="text/javascript" src="/assets/data-tables/DT_bootstrap.js"></script>
<script src="/js/scripts.js"></script>

<script type="text/javascript" src="/layui/layui.js"></script>

<script>
    jQuery(document).ready(function() {
        // initiate layout and plugins
        App.init();
    });
</script>
</body>
<!-- END BODY -->
</html>
